/*
 * GALLERI STYLESHEET
 */

@charset "utf-8";

@font-face {
    font-family: "Acme";
    src: url(../data/fonts/Acme-Regular.ttf);
}

@font-face {
    font-family: "Fjalla One";
    src: url(../data/fonts/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: "Rubik";
    src: url(../data/fonts/Rubik-Regular.ttf);
}

/* Main Styling */

.page-header {
    width: 750px;
    
    margin: 15px auto 0 auto;
    
    border-bottom: 5px solid black;
    border-radius: 5px;
}

.page-header h1{
    font-family: "Acme";
    font-size: 72px;
    text-align: center;
}