/*
 * INDEX STYLESHEET
 */

@charset "utf-8";

@font-face {
    font-family: "Acme";
    src: url(../data/fonts/Acme-Regular.ttf);
}

@font-face {
    font-family: "Fjalla One";
    src: url(../data/fonts/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: "Rubik";
    src: url(../data/fonts/Rubik-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/*
 * MAIN CONTENT
 */

/*
 * HEADER STYLING
 */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    min-height: 100px;
}

.page-header h1 {
    width: auto;
    padding: 25px 0 15px 25px;
    
    color: #000;
    font-family: 'Acme';
    font-size: 80px;
}

.header-quote-container {
    width: 225px;
    
    position: absolute;
    top: -15px;
    right: 0;
    
    margin-top: 40px;
    margin-right: 25px;
    
    padding: 10px;
    border: 1px dashed black;
    border-radius: 25px;
}

.header-quote-container p {
    font-family: 'Rubik';
    font-style: italic;
    line-height: 20px;
    text-align: center;
}

.page-sub-header {
    width: 100%;
    min-height: 50px;
}

/*
 * IMAGE SLIDER STYLING
 */

.image-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 500px;
    
    margin: auto;
    
    background-color: rgba(10, 10, 10, .3);
}

.image-slider-container .is-img-holder {
    display: block;
    width: 100%;
    height: 90%;
}

.image-slider-container .is-img-holder img {
    display: block;
    width: auto;
    height: 100%;
    
    margin: auto;
}

.arrow-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20%;
    height: 100%;
    
    border: none;
    
    background-color: rgba(10, 10, 10, 0);
    
    transition: all .2s;
}

.arrow-holder:hover {
    background-color: rgba(10, 10, 10, .15);
}

.is-left, .is-right {
    color: rgba(10, 10, 10, .35);
    transition: all .2s;
}

.arrow-holder:hover .is-left, .arrow-holder:hover .is-right {
    color: rgba(10, 10, 10, .75);
}

/* IMAGE SLIDER INDICATION START */

.image-slider-indication {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    
    width: calc(100% - 30px);
    min-height: 110px;
    
    padding: 10px 15px;
    
    background-color: rgba(10, 10, 10, .35);
}

.image-slider-indication .i_id {
    width: auto;
    height: 85px;
    
    margin-bottom: 10px;
    
    transition: all .3s;
    
    opacity: 1;
    
    cursor: pointer;
}

.image-slider-indication .i_id:hover {
    height: 100px;
}

/* IMAGE SLIDER INDICATION END */

.page-sub-header h2 {
    width: 60%;
    
    margin: 15px auto 0 auto;
    padding-bottom: 15px;
    
    font-family: 'Acme';
    font-size: 38px;
    font-style: italic;
    text-align: center;
}