@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    width: 100vw;
    height: 100vh;
    
    background: #0F0F0F;
}

.form-holder {
    height: 100%;
}

.home-link {
    display: block;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    
    border: 2px solid #ed4310;
    
    background: #ff3e04;
    
    color: #000;
    font-family: arial;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.home-link:hover {
    background: #e63500;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
    width: 50%;
    height: 250px;
    
    margin: 0 auto;
    
    border: 2px solid #101010;
    
    border-radius: 100px;
    
    background: #262626;
}

.login-form-username, .login-form-password, .login-form-submit {
    width: 80%;
    height: 50px;
}

.login-form-username {
    padding-left: 5px;
    margin-bottom: 5px;
    
    font-size: 24px;
}

.login-form-username:placeholder-shown {
    color: #000;
    font-size: 24px;
}

.login-form-password {
    padding-left: 5px;
    margin-bottom: 5px;
    
    font-size: 24px;
}

.login-form-password:placeholder-shown {
    color: #000;
    font-size: 24px;
}

.login-form-submit {
    width: calc(80% + 5px);
    background: #2ff44d;
    
    color: #027c15;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    
    cursor: pointer;
}

.login-form-submit:hover {
    background: #2ed848;
}

.action_holder {
    width: 95%;
    min-height: 25px;
    
    padding-bottom: 20px;
    
    border: 2px solid #101010;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 15px;
    
    background: #262626;
}

.add_user_link {
    margin-top: 20px;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    
    color: #f2f2f2;
    font-size: 18px;
    font-family: 'Arial';
    text-decoration: underline;
    
    background: #262626;
    
    transition: all .3s;
    
    cursor: pointer;
}

.add_user_link:hover {
    color: #cecece;
    background: #202020;
}

.add_user_form_holder {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    
    margin-top: 5px;
    
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    
    background: #1e1e1e;
}

.close_add_user_field {
    margin-right: 10px;
    
    color: #000;
    
    transition: all .3s;
    
    cursor: pointer;
}

.close_add_user_field:hover {
    color: #111;
}

.add_user_form_holder form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

.add_user_form_holder form input {
    width: 350px;
    height: 50px;
    margin-left: 25px;
    padding-left: 5px;
}

.add_user_form_holder form input:placeholder-shown {
    color: #000;
    font-size: 24px;
}

.add_user_form_username {
    margin-top: 10px;
}

.add_user_form_password {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_user_form_holder form .add_user_form_submit {
    width: 355px;
    margin-bottom: 10px;
    
    color: #222;
    font-size: 24px;
    
    background: #eee;
    
    transition: all .3s;
    
    cursor: pointer;
}

.add_user_form_holder form .add_user_form_submit:hover {
    background: #ddd;
}

.logout-button {
    padding: 15px;
    
    border: 2px solid #9a0707;
    border-radius: 5px;
        
    background: #e2e2e2;
    
    color: #000;
    font-family: arial;
    font-size: 20px;
    text-transform: uppercase;
    
    background: #c90606;
    
    cursor: pointer;
    
    transition: .15s all;
}

.logout-button:hover {
    background: #f71717;
}